<h2>Team Members of Space Jam</h2>

<select (change)=onChange($event.target.value) class="form-control">
  <option value="center">Center</option>
  <option value="small forward">Small Forward</option>
  <option value="shooting guard">Shooting Guard</option>
  <option value="point guard">Point Guard</option>
  <option value="power forward">Power Forward</option>
  <option value="all" selected="selected">View All</option>
</select>

<div *ngFor="let member of members | async | position:filterByPosition"  class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(member)">{{member.name}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      {{member.position}}
      <hr>
      <app-edit-member [selectedMember]="member"></app-edit-member>
    </div>
  </div>
</div>
